:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
    --font-principal: "inter", sans-serif;
    --botao-hover: #6ca9f5;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container-botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
    font-family: var(--font-principal);
    
}

.container-botao:hover {
    background-color: var(--botao-hover);
    color: var(--cor-de-fundo);
}

.container-botao-2 {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container-aviso {
    text-align: center;
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.container-titulo {
    font-size: 28px;
    font-weight: 700;
}

.container-imagem {
    margin: 1em 0 2em 0;
    align-items: center;
}

.container-caixa {
    margin: 0 6em;
}

.secundario-imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao-texto {
    color: var(--cinza-secundario);
}

.secundario-botao {
    display: inline-block;
    margin-top: 1em;
}

.container-descricao {
    padding: 2em;
}

.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista-item {
font-size: 32px;
color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape-logo {
    align-items: center;
}

.rodape-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em 0;
}

.lista-link a{
    color: var(--branco-principal);
    text-decoration: none;
    margin: 0 1em;
}

.lista-link a:hover {
    color: var(--botao-azul);
}

.rodape-texto {
    color: var(--cinza-secundario);
    padding: 1em;
    margin: 0 6em;
}